<%= (image_tag @hand[0].to_s+".png") %>
<%= (image_tag @hand[1].to_s+".png") %>
<%= (image_tag @hand[2].to_s+".png") %>
<%= (image_tag @hand[3].to_s+".png") %>
<%= (image_tag @hand[4].to_s+".png") %>

<h2><%= link_to "Shuffle!", poker_path %></h2>
